# Ignore IDE files
.idea/
*.iml

# Ignore build files
/build/
.gradle/
captures/

# Ignore local properties
/local.properties

# Ignore sensitive Firebase config (optional)
google-services.json

.DS_Store
